#append_ad
{
    margin-top: 30px;
    width: 1299px;
    height: 341px;
}
#extra_gap
{
    display: flex;
    width: 100%;
    height: 70px;
    /* position: fixed; */
    /* margin-top: -9px; */
    /* background-color: #fff; */
    /* box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%); */
    align-items: center;
}
.heading_top
{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

#deals1
{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: auto;
    margin-top: 40px;
}
#deals1>div>img{
    width: 134px;
    height: 198px;
}
#brands1
{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: auto;
}
#brands1>div>img{
    width: 160px;
    height: 209px;
}
#top_picks1
{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: auto; 
}
#top_picks1>div>img{
    width: 188px;
    height: 230px;
}
#categories_of_bag
{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: auto; 
    line-height: 0px;
}
#categories_of_bag>div>img
{
  width: 170px;
  height: 204px;
}
#deals_of_top_brands
{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: auto; 
    line-height: 0px;
}
#deals_of_top_brands>div>img{
    width: 168px;
    height: 268px;
}
#branda_at_slashed_prices
{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: auto; 
    line-height: 0px; 
}
#branda_at_slashed_prices>div>img
{
    width: 194px;
    height: 219px;
}
#top_picks
{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: auto; 
    line-height: 0px;
}
#top_picks>div>img{
    width:165px ;
    height:202px ;
}
#myntra_luxe
{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: auto; 
    line-height: 0px;  
}
#myntra_luxe>div>img{
    width:167px ;
    height: 216px;
}
#gifting_cards
{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto; 
    line-height: 0px;  
}
#gifting_cards>div>img{
    width: 267px;
    height: 231px;
}
#deals_of_latest_arrivals
{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto; 
    line-height: 0px;   
}
#deals_of_latest_arrivals>div>img{
    width: 658px;
    height:201px ;
}

#spring_summer
{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: auto; 
    line-height: 0px;   
}
#spring_summer>div>img
{
 width:168px ;
 height:216px ;
}
#stylecast_hottest_finds
{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: auto; 
    line-height: 0px; 
}
#stylecast_hottest_finds>div>img
{
  width:192px ;
  height: 246px;
}